[Desktop Entry]
Version=1.0
Comment=wadoku translator
Type=Application
Name=wadoku-notify
Exec=wadoku-notify -gtk
Icon=wadoku-notify
StartupNotify=true
Terminal=false
Categories=GNOME;Application;Utility;
